@use '../../utils/' as * ;

/*
::::::::::::::::::::::::::
 HEADER AREA CSS
::::::::::::::::::::::::::
*/

//==== header 1 ===


.header-area.header-area1 {
    border-bottom: 1px solid #fff;
    .header1-buttons {
        display: flex;
        align-items: center;

        .contact-btn {
            display: flex;
            align-items: center;
            margin-right: 24px;
            .icon {
                height: 38px;
                width: 38px;
                text-align: center;
                line-height: 38px;
                border-radius: 50%;
                background-color: var(--ztc-bg-bg-2);
                margin-right: 10px;
            }

            .headding {
                p {
                    font-size: 12px;
                    line-height: 12px;
                    color: var(--ztc-text-pera-text-1);
                }
                a {
                    font-size: var(--f-fs-font-fs16);
                    line-height: var(--f-fs-font-fs16);
                    font-weight: var(--f-fw-blod);
                    color: var(--ztc-text-text-1);
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }
    }
}

//==== header 1 ===

.header-area.header-area1 .header-elements .main-menu-ex ul li a.active {
    color: var(--vtc-bg-main-bg-1);
}

.header-area.header-area3 .header-elements .main-menu-ex ul li a.active {
    color: var(--vtc-bg-main-bg-1);
}

.header-area.header-area4 .header-elements .main-menu-ex ul li a.active {
    color: var(--vtc-bg-main-bg-6);
}

.header-area.header-area5 .header-elements .main-menu-ex ul li a.active {
    color: var(--vtc-bg-main-bg-2);
}

.header-area.header-area2 .header-elements .main-menu-ex ul li a.active {
    color: var(--vtc-bg-main-bg-2);
}

/*
::::::::::::::::::::::::::
 HEADER AREA CSS
::::::::::::::::::::::::::
*/