
/*
============================
Name:  TechXen Technology & It Solution Template
Version: 1.0.0
Description:
Author:  VikingLab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/


/*

CSS LIST

=<::::::::::::::::::::::::::=>
  HEADER AREA CSS
=<::::::::::::::::::::::::::=>
  NAV MENU AREA CSS
=<::::::::::::::::::::::::::=>
  WELCOME AREA CSS
=<::::::::::::::::::::::::::=>
  ABOUT AREA CSS
=<::::::::::::::::::::::::::=>
  SERVICE AREA CSS
=<::::::::::::::::::::::::::=>
  ACCOUNT AREA CSS
=<::::::::::::::::::::::::::=>
  FEATURES AREA CSS
=<::::::::::::::::::::::::::=>
  BRAND AREA CSS
=<::::::::::::::::::::::::::=>
  CHOOSE AREA CSS
=<::::::::::::::::::::::::::=>
  PRRELOADER AREA CSS
=<::::::::::::::::::::::::::=>
  PRICING AREA CSS
=<::::::::::::::::::::::::::=>
  TEAM AREA CSS
=<::::::::::::::::::::::::::=>
  TESTIMONIAL AREA CSS
=<::::::::::::::::::::::::::=>
  WORK AREA CSS
=<::::::::::::::::::::::::::=>
  OTHERS AREA CSS
=<::::::::::::::::::::::::::=>
  CONMMON AREA CSS
=<::::::::::::::::::::::::::=>
  BLOG AREA CSS
=<::::::::::::::::::::::::::=>
  CTA AREA CSS
=<::::::::::::::::::::::::::=>
 ANIMATION AREA CSS
=<::::::::::::::::::::::::::=>
  BUTTONS AREA CSS
=<::::::::::::::::::::::::::=>
  TYPOGRAPHY AREA CSS
=<::::::::::::::::::::::::::=>
  FOOTER AREA CSS
=<::::::::::::::::::::::::::=>
*/

@forward 'theme';
@forward 'components';
@forward 'layout';
