@use '../utils' as *;

  /*
 ::::::::::::::::::::::::::
  SERVICE AREA CSS
 ::::::::::::::::::::::::::
 */

// ==== service style 1 ====

.service1 {
  background-color: var(--vtc-text-heading-text-1);
}

.service1-box {
  margin-top: 30px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  transition: all .4s;
  .image {
    img {
      width: 100%;
      transition: all .4s;
    }
  }

  .hover-area {
    position: absolute;
    bottom: 0;
    margin: 24px;
    transform: translateY(60px);
    opacity: 0;
    transition: all .4s;
    z-index: 2;

    p {
      color: #ffffffc9;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -500px;
    right: -30px;
    height: 600px;
    width: 600px;
    background-color: var(--vtc-bg-main-bg-1);
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      transition: all .4s;
      bottom: -350px;
    }

    .image {
      img {
        transition: all .4s;
        transform: scale(1.1) rotate(2deg);
      }
    }

    .hover-area {
      opacity: 1;
      transform: translateY(0);
      transition: all .4s;
    }
  }
}

.service1-box.active {
  .hover-area {
    position: absolute;
    bottom: 0;
    margin: 24px;
    transform: translateY(0);
    opacity: 1;
    transition: all .4s;
    z-index: 2;

    p {
      color: #ffffffc9;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -350px;
    right: -30px;
    height: 600px;
    width: 600px;
    background-color: var(--vtc-bg-main-bg-1);
    border-radius: 50%;
    opacity: 1;
    transition: all .4s;
  }

}

// ==== service style 1 ====

// ==== service style 2 ====

.service2-box {
  margin-top: 60px;
  padding: 70px 32px 32px 32px;
  border-radius: 4px;
  background-color: #ffffff1a;
  position: relative;
  transition: all .4s;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
    transform: rotateY(95deg);
    transition: all .6s linear;
    background-color: var(--vtc-bg-main-bg-2);
    z-index: -1;
    opacity: 0;
  }

  .icon {
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background-color: #46466B;
    position: absolute;
    top: -35px;
    left: 30px;
    transition: all .4s;

    img {
      transition: all .4s;
      filter: brightness(0) invert(1);
    }
  }

  .learn {
    display: inline-block;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none !important;
    font-weight: var(--f-fw-bold);
    font-size: var(--f-fs-font-fs16);
    line-height: var(--f-fs-font-fs16);
    color: var(--vtc-text-text-white-text-1);
    text-transform: capitalize;
    padding: 16px 22px 16px 22px;
    background-color: var(--vtc-bg-main-bg-2);
    overflow: hidden;
    z-index: 1;
    border-radius: 4px;
    position: relative;
    margin-top: 24px;
    transition: all .4s;

    span {
      position: relative;
      margin-left: 4px;
      font-size: 16px;
      transition: all .4s linear;
      transform: rotate(-45deg);
      display: inline-block;
    }

  }

  &:hover {
    transform: translateY(-10px);
    transition: all .4s;

    &::after {
      transform: rotateY(0deg);
      transition: all .4s linear;
      background-color: var(--vtc-bg-main-bg-2);
      z-index: -1;
      opacity: 1;
    }
    .icon {
      background-color: var(--vtc-text-text-white-text-1);
      transition: all .4s;
      img {
        transition: all .4s;
        filter: none;
      }
    }

    .learn {
      color: var(--vtc-bg-main-bg-2);
      background-color: var(--vtc-text-text-white-text-1);
      transition: all .4s;
    }
  }
}

// ==== service style 2 ====

// ==== service style 2 benefits ====

.service-benefits {
  .benefits-box {
    padding: 32px;
    border-radius: 4px;
    margin-top: 30px;
    transition: all .4s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      top: 0;
      left: 0;
      transform: rotateY(95deg);
      transition: all .6s linear;
      background-color: var(--vtc-bg-main-bg-2);
      z-index: -1;
      opacity: 0;
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      top: 0;
      left: 0;
      transition: all .6s linear;
      background-color: #282A5E;
      z-index: -3;
    }

    h4 {
      a {
        line-height: var(--f-fs-font-fs32);
      }
    }
    .icon {
      height: 70px;
      width: 70px;
      line-height: 70px;
      text-align: center;
      border-radius: 50%;
      background-color: #46466B;
      transition: all .4s;
      margin-bottom: 30px;
  
      img {
        transition: all .4s;
        filter: brightness(0) invert(1);
      }
    }

    a.learn {
      display: inline-block;
      color: var(--vtc-bg-common-bg1);
      font-size: var(--f-fs-font-fs16);
      line-height: var(--f-fs-font-fs16);
      font-weight: var(--f-fw-medium);

      span {
        display: inline-block;
        transform: rotate(-45deg);
        margin-left: 3px;
      }
    }

    &:hover {
      transform: translateY(-10px);
      transition: all .4s;
      &::after {
        opacity: 1;
        transform: rotateY(0deg);
        transition: all .4s;
      }

      .icon {
        background-color: var(--vtc-text-text-white-text-1);
        transition: all .4s;
        img {
          filter: none;
          transition: all .4s;
        }
      }
    }
  }
}

// ==== service style 2 benefits ====

// ==== service style 3 ====

.service3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .service3-box {
    background-color: var(--vtc-text-text-white-text-1);
    border-radius: 4px;
    padding: 32px;
    margin-top: 30px;
    transition: all .4s;
    .icon {
      height: 70px;
      width: 70px;
      line-height: 70px;
      text-align: center;
      border-radius: 5px;
      background-color: var(--vtc-bg-common-bg5);
      margin-bottom: 30px;
      transition: all .4s;

      img {
        transition: all .4s linear;
      }
    }

    .learn {
      display: inline-block;
      font-size: var(--f-fs-font-fs16);
      line-height: var(--f-fs-font-fs16);
      color: var(--vtc-text-heading-text-1);
      font-weight: var(--f-fw-bold);
      transition: all .4s;

      &:hover {
        color: var(--vtc-bg-main-bg-3);
        transition: all .4s;
      }

      span {
        display: inline-block;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      transition: all .4s;
      transform: translateY(-10px);
      .icon {
        height: 70px;
        width: 70px;
        line-height: 70px;
        text-align: center;
        border-radius: 5px;
        background-color: var(--vtc-bg-main-bg-3);
        margin-bottom: 30px;
        transition: all .4s;

        img {
          transition: all .4s linear;
          filter: brightness(0) invert(1);
          transform: rotateY(180deg);
        }
      }
    }
  }

  .shape1 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// ==== service style 3 ====

// ==== service style 4 ====

.service4 {
  background-color: var(--vtc-bg-main-bg-5);
}

.service4-box {
  position: relative;
  margin-top: 34px;
  transition: all .4s;

  .image {
    overflow: hidden;
    border-radius: 4px;
    img {
      width: 100%;
      transition: all .4s;
    }
  }

  .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: var(--vtc-bg-main-bg-6);
    background-color: var(--vtc-text-text-white-text-1);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    transform: rotate(-45deg) scale(1.4);
    transition: all .4s;
    opacity: 0;
  }

  .heading4-w {
    margin: 0px 30px;
    position: absolute;
    bottom: 30px;
  }

  &:hover {
    transition: all .4s;
    transform: translateY(-10px);

    .image {
      img {
        transform: rotate(2deg) scale(1.1);
        transition: all .4s;
      }
    }

    .icon {
      opacity: 1;
      transition: all .4s;
      transform: rotate(-45deg) scale(1);
    }
  }
}

// ==== service style 4 ====

// ==== service style 5 ====

.service5 {
  background-color: var(--vtc-bg-common-bg9);
}

.service5-box {
  margin-top: 60px;
  padding: 70px 32px 32px 32px;
  border-radius: 4px;
  background-color: var(--vtc-bg-bg-white);
  position: relative;
  transition: all .4s;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
    transform: rotateY(95deg);
    transition: all .6s linear;
    background-color: var(--vtc-bg-main-bg-2);
    z-index: -1;
    opacity: 0;
  }

  .icon {
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background-color: #F3DFE5;
    position: absolute;
    top: -35px;
    left: 30px;
    transition: all .4s;

    img {
      transition: all .4s;
    }
  }

  .learn {
    display: inline-block;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none !important;
    font-weight: var(--f-fw-bold);
    font-size: var(--f-fs-font-fs16);
    line-height: var(--f-fs-font-fs16);
    color: var(--vtc-text-text-white-text-1);
    text-transform: capitalize;
    padding: 16px 22px 16px 22px;
    background-color: var(--vtc-bg-main-bg-2);
    overflow: hidden;
    z-index: 1;
    border-radius: 4px;
    position: relative;
    margin-top: 24px;
    transition: all .4s;

    span {
      position: relative;
      margin-left: 4px;
      font-size: 16px;
      transition: all .4s linear;
      transform: rotate(-45deg);
      display: inline-block;
    }

  }

  &:hover {
    transform: translateY(-10px);
    transition: all .4s;

    .heading5 {
      h4 {
        a {
          color: var(--vtc-text-text-white-text-1);
          transition: all .4s;
        }
      }

      p {
        color: #ffffffc7;
        transition: all .4s;
      }
    }

    &::after {
      transform: rotateY(0deg);
      transition: all .4s linear;
      background-color: var(--vtc-bg-main-bg-2);
      z-index: -1;
      opacity: 1;
    }
    .icon {
      background-color: var(--vtc-text-text-white-text-1);
      transition: all .4s;
      img {
        transition: all .4s;
        filter: none;
      }
    }

    .learn {
      color: var(--vtc-bg-main-bg-2);
      background-color: var(--vtc-text-text-white-text-1);
      transition: all .4s;
    }
  }
}

// ==== service style 5 ====



// ==== service style 5 benefits ====

.service-benefits5 {
  .benefits-box {
    padding: 32px;
    border-radius: 4px;
    margin-top: 30px;
    transition: all .4s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      top: 0;
      left: 0;
      transform: rotateY(95deg);
      transition: all .6s linear;
      background-color: var(--vtc-bg-main-bg-2);
      z-index: -1;
      opacity: 0;
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      top: 0;
      left: 0;
      transition: all .6s linear;
      background-color: #F2F4F7;
      z-index: -3;
    }

    h4 {
      a {
        line-height: var(--f-fs-font-fs32);
        color: var(--vtc-text-heading-text-3);
      }
    }
    p {
      color: #001431d7;
    }
    .icon {
      height: 70px;
      width: 70px;
      line-height: 70px;
      text-align: center;
      border-radius: 50%;
      background-color: #F3DFE5;
      transition: all .4s;
      margin-bottom: 30px;
  
      img {
        transition: all .4s;
      }
    }

    a.learn {
      display: inline-block;
      color: var(--vtc-text-heading-text-3);
      font-size: var(--f-fs-font-fs16);
      line-height: var(--f-fs-font-fs16);
      font-weight: var(--f-fw-medium);
      transition: all .4s;

      span {
        display: inline-block;
        transform: rotate(-45deg);
        margin-left: 3px;
      }
    }

    &:hover {
      transform: translateY(-10px);
      transition: all .4s;
      &::after {
        opacity: 1;
        transform: rotateY(0deg);
        transition: all .4s;
      }

      h4 {
        a {
          line-height: var(--f-fs-font-fs32);
          color: #fff;
          transition: all .4s;
        }
      }
      p {
        color: #ffffffd7;
        transition: all .4s;
      }

      a.learn {
        display: inline-block;
        color: var(--vtc-text-text-white-text-1);
        font-size: var(--f-fs-font-fs16);
        line-height: var(--f-fs-font-fs16);
        font-weight: var(--f-fw-medium);
        transition: all .4s;
        
        span {
          display: inline-block;
          transform: rotate(-45deg);
          margin-left: 3px;
        }
      }

      .icon {
        background-color: var(--vtc-text-text-white-text-1);
        transition: all .4s;
        img {
          filter: none;
          transition: all .4s;
        }
      }
    }
  }
}

// ==== service style 5 benefits ====

.service1.service-page-service {
  background-color: #fff;
}


   /*
 ::::::::::::::::::::::::::
  SERVICE AREA CSS
 ::::::::::::::::::::::::::
 */
